tbody tr {
  border-bottom: 1px solid #dddddd;
}

/* table, tr td, th {
  border: 1px solid red
  
}
 */
tbody tr:last-of-type {
  border-bottom: 1px solid #3F51B5;
}
th, td, th {
  padding: 12px 15px;

}
tbody {
  display: block;
  height: 480px;
  overflow: auto; 
 /*  width: calc( 100% - 1em ) */
}
thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
thead {
  background-color: #3F51B5;
  width: calc( 100% - 1em )
}
table {
  width: 100%;
}

thead tr {
  background-color: #3F51B5;
  color: #ffffff;
}