
<br>
  <div class="container">
      <div class="col-12">
        <mat-card>
          <mat-tab-group  >
            <mat-tab label="Documentos Obrigatórios">  
            <br>
              <mat-slide-toggle [(ngModel)]="ExcluirDocumento"
                >Excluir</mat-slide-toggle
              ><br><br>
              <table >
                <thead>
                  <tr>
                    <th style="width: 80%">Tipos</th>
                    <th colspan="2" style="text-align: center;"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let index of ArrayDocumentos; let i = index"
                  >
                    <td
                      style="width: 82%"
                      *ngIf="index.id_documento != 1"
                    >
                      {{ index.tipo }}
                    </td>
                    <td  *ngIf="index.id_documento != 1"   style="text-align: center;">
                      <input
                        #fileUpload
                        type="file"
                        (change)="upload($event, index.id_documento)"
                        style="display: none"
                      />
                      <button
                        mat-raised-button
                        color="files"
                        *ngIf="index.id == null"
                        (click)="fileUpload.click()"
                      >
                        <mat-icon>upload_file</mat-icon>
                      </button>
                      <button
                        mat-raised-button
                        color="primary"
                        *ngIf="index.id != null"
                        (click)="downloadArquivo(index.nome_arquivo)"
                      >
                        <mat-icon>file_download</mat-icon>
                      </button>
                    </td>
                    <td
                      *ngIf="
                        index.id_documento != 1 &&
                        ExcluirDocumento == true
                      "
                    >
                      <button
                        mat-raised-button
                        color="warn"
                        *ngIf="index.id != null"
                        (click)="deleteDocu(index.id, index.nome_arquivo)"
                      >
                        <mat-icon>cancel</mat-icon>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </mat-tab>
            <mat-tab label="Documentos Opcionais"> 
              <br>
              <div class="container">
                <div class="row">
                  <div class="col-2">
                    <mat-slide-toggle
                      [(ngModel)]="ExcluirDocumentoOpcionais"
                      >Excluir</mat-slide-toggle
                    >
                  </div>
                  <div class="col-8"></div>
                  <div class="col-2" >
                    <input
                      #fileUpload
                      type="file"
                      (change)="upload($event, 1)"
                      style="display: none"
                    />
                    <button
                      mat-raised-button
                      color="files"
                      (click)="fileUpload.click()"
                      class="col-12"
                    >
                      <mat-icon>upload_file</mat-icon>
                      Escolher arquivo
                    </button>
                  </div>
                </div>
              </div>
              <br>
              <table >
                <thead>
                  <tr>
                    <th >Tipos</th>
                  
                 
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let index of ArrayDocumentosOpcionais;
                      let i = index
                    "
                  >
                    <td style="width: 80%">
                      {{ index.nome_arquivo }}
                    </td>
                    <td >
                      <input
                        #fileUpload
                        type="file"
                        (change)="upload($event, index.id_documento)"
                        style="display: none"
                      />
                      <button
                        mat-raised-button
                        color="files"
                        *ngIf="index.id == null"
                        (click)="fileUpload.click()"
                      >
                        <mat-icon>upload_file</mat-icon>
                      </button>
                      <button
                        mat-raised-button
                        color="primary"
                        *ngIf="index.id != null"
                        (click)="downloadArquivo(index.nome_arquivo)"
                      >
                        <mat-icon>file_download</mat-icon>
                      </button>
                    
                      <button
                        mat-raised-button
                        color="warn"
                        *ngIf="index.id != null && ExcluirDocumentoOpcionais == true"
                        (click)="deleteDocu(index.id, index.nome_arquivo)"
                    
                      >
                        <mat-icon>cancel</mat-icon>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>  
            </mat-tab>
          </mat-tab-group>
          <br>

        </mat-card>
      </div>
  </div>
  <br><br>