<button
  mat-raised-button
  color="accent"
  [routerLink]="['', idUser, 'home']"
  id="printPageButton"
>
  <mat-icon>arrow_back</mat-icon>
</button>

<button
  mat-raised-button
  color="primary"
  style="margin-top: 15px; margin-left: 15px;"
  id="printPageButton"
  onClick="window.print();"
>
  Imprimir
</button>
<div class="main-page">
  <div class="sub-page">
    <div class="row">
      <div class="col">
        <div align="center">
          <img src="http://localhost:8080/api/get/image" width="160" />
        </div>
      </div>

      <div class="col-10">
        <div class="col"><h2>Dados Pessoais</h2></div>

        <div class="col-12">
          <label class="form-label">Nome Completo</label>
          <input
            class="form-control form-control-sm"
            type="text"
            [(ngModel)]="dadosPessoais.nome_completo"
            disabled
            readonly
          />
        </div>
        <br />
        <div class="row">
          <div class="col-4">
            <label class="form-label">CPF</label>
            <input
              class="form-control form-control-sm"
              type="text"
              [(ngModel)]="dadosPessoais.cpf"
              disabled
              readonly
            />
          </div>
          <div class="col-4">
            <label class="form-label">Identidade - UF</label>
            <input
              class="form-control form-control-sm"
              type="text"
              value="{{ dadosPessoais.identidade }} - {{
                dadosPessoais.uf_identidade
              }}"
              disabled
              readonly
            />
          </div>
          <div class="col-4">
            <label class="form-label">PIS / PASEP</label>
            <input
              class="form-control form-control-sm"
              type="text"
              [(ngModel)]="dadosPessoais.pis_pasep"
              disabled
              readonly
            />
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-4">
            <label class="form-label">Titulo de Eleitor</label>
            <input
              class="form-control form-control-sm"
              type="text"
              [(ngModel)]="dadosPessoais.titulo_eleitor"
              disabled
              readonly
            />
          </div>

          <div class="col-4">
            <label class="form-label">Data de Nascimento</label>
            <input
              class="form-control form-control-sm"
              type="text"
              [(ngModel)]="dadosPessoais.data_nascimento"
              disabled
              readonly
            />
          </div>

          <div class="col-4">
            <label class="form-label">Nacionalidade</label>
            <input
              class="form-control form-control-sm"
              type="text"
              [(ngModel)]="dadosPessoais.nacionalidade"
              disabled
              readonly
            />
          </div>
        </div>
        <br />
      </div>
      <br />
      <div class="col-1" style="margin-left: -15px; margin-top: 50px">
        <img [src]="UrlFoto" width="130" />
      </div>
    </div>
    <br />
    <div class="row" st>
      <div class="col-12">
        <div class="row">
          <div class="col-3">
            <label class="form-label">Naturalidade - UF</label>
            <input
              class="form-control form-control-sm"
              type="text"
              value="{{ dadosPessoais.naturalidade }} - {{
                dadosPessoais.uf_naturalidade
              }}"
              disabled
              readonly
            />
          </div>

          <div class="col-3">
            <label class="form-label">Celular</label>
            <input
              class="form-control form-control-sm"
              type="text"
              [(ngModel)]="dadosPessoais.celular"
              disabled
              readonly
            />
          </div>
          <div class="col-3">
            <label class="form-label">Telefone</label>
            <input
              class="form-control form-control-sm"
              type="text"
              [(ngModel)]="dadosPessoais.telefone"
              disabled
              readonly
            />
          </div>
          <div
            class="col-3"
            *ngIf="dadosEstadoCivil.estado_civil == 'Solteiro(a)'"
          >
            <label class="form-label">Estado Civil</label>
            <input
              class="form-control form-control-sm"
              type="text"
              [(ngModel)]="dadosEstadoCivil.estado_civil"
              disabled
              readonly
            />
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-6">
            <label class="form-label">Nome do Pai</label>
            <input
              class="form-control form-control-sm"
              type="text"
              [(ngModel)]="dadosPessoais.nome_pai"
              disabled
              readonly
            />
          </div>
          <div class="col-6">
            <label class="form-label">Nome da Mãe</label>
            <input
              class="form-control form-control-sm"
              type="text"
              [(ngModel)]="dadosPessoais.nome_mae"
              disabled
              readonly
            />
          </div>
        </div>

        <div class="row" style="padding-top: 20px">
          <div class="col-7">
            <label class="form-label">Endereço</label>
            <input
              class="form-control form-control-sm"
              type="text"
              value="{{ dadosPessoais.endereco }}"
              disabled
              readonly
            />
          </div>
          <div class="col-2">
            <label class="form-label">Número</label>
            <input
              class="form-control form-control-sm"
              type="text"
              value="{{ dadosPessoais.numero }}"
              disabled
              readonly
            />
          </div>
          <div class="col-3">
            <label class="form-label">Complemento</label>
            <input
              class="form-control form-control-sm"
              type="text"
              value="{{ dadosPessoais.complemento }}"
              disabled
              readonly
            />
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-4">
            <label class="form-label">Bairro</label>
            <input
              class="form-control form-control-sm"
              type="text"
              value="{{ dadosPessoais.bairro }}"
              disabled
              readonly
            />
          </div>
          <div class="col-2">
            <label class="form-label">CEP</label>
            <input
              class="form-control form-control-sm"
              type="text"
              value="{{ dadosPessoais.cep }}"
              disabled
              readonly
            />
          </div>
          <div class="col-6">
            <label class="form-label">Cidade - UF</label>
            <input
              class="form-control form-control-sm"
              type="text"
              value="{{ dadosPessoais.cidade }} - {{
                dadosPessoais.uf_cidade
              }} "
              disabled
              readonly
            />
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-12"><h2>Dados Profissionais</h2></div>
          <div class="col-6">
            <label class="form-label">Setor</label>
            <input
              class="form-control form-control-sm"
              type="text"
              [(ngModel)]="setor"
              disabled
              readonly
            />
          </div>
          <div class="col-6">
            <label class="form-label">Vínculo</label>
            <input
              class="form-control form-control-sm"
              type="text"
              [(ngModel)]="vinculo"
              disabled
              readonly
            />
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-6">
            <label class="form-label">Cargo</label>
            <input
              class="form-control form-control-sm"
              type="text"
              [(ngModel)]="dadosProfissionais.cargo"
              disabled
              readonly
            />
          </div>
          <div class="col-6">
            <label class="form-label">Função</label>
            <input
              class="form-control form-control-sm"
              type="text"
              [(ngModel)]="dadosProfissionais.funcao"
              disabled
              readonly
            />
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-6">
            <label class="form-label">Qualificação Profissional</label>
            <input
              class="form-control form-control-sm"
              type="text"
              [(ngModel)]="dadosProfissionais.qualificacao_profissional"
              disabled
              readonly
            />
          </div>
          <div class="col-6">
            <label class="form-label">Escolaridade</label>
            <input
              class="form-control form-control-sm"
              type="text"
              [(ngModel)]="dadosProfissionais.escolaridade"
              disabled
              readonly
            />
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-6">
            <label class="form-label">Data de Admissão</label>
            <input
              class="form-control form-control-sm"
              type="text"
              [(ngModel)]="dadosProfissionais.data_admissao"
              disabled
              readonly
            />
          </div>

          <div class="col-6">
            <label class="form-label">Data de Exoneração</label>
            <input
              class="form-control form-control-sm"
              type="text"
              [(ngModel)]="dadosProfissionais.data_exoneracao"
              disabled
              readonly
            />
          </div>
        </div>
        <br />

        <div class="row">
          <div class="col-6">
            <label class="form-label">E-Mail</label>
            <input
              class="form-control form-control-sm"
              type="text"
              [(ngModel)]="dadosPessoais.email"
              disabled
              readonly
            />
          </div>
          <div class="col-6">
            <label class="form-label">E-Mail Institucional</label>
            <input
              class="form-control form-control-sm"
              type="text"
              [(ngModel)]="dadosProfissionais.email_institucional"
              disabled
              readonly
            />
          </div>
        </div>
        <br />

        <div class="row">
          <div class="col-3" *ngFor="let i of dadosPessoais.matriculas">
            <label class="form-label">Matrícula {{ i.observacao }}</label>
            <input
              class="form-control form-control-sm"
              type="text"
              value="{{ i.matricula }}"
              disabled
              readonly
            />
          </div>
        </div>
        <br />

        <div class="row">
          <div class="col-6"><h2>Dados Bancários</h2></div>
        </div>

        <div class="row">
          <div class="col-3">
            <label class="form-label">Banco</label>
            <input
              class="form-control form-control-sm"
              type="text"
              [(ngModel)]="dadosBancarios.banco"
              disabled
              readonly
            />
          </div>

          <div class="col-3">
            <label class="form-label">Conta Corrente</label>
            <input
              class="form-control form-control-sm"
              type="text"
              [(ngModel)]="dadosBancarios.conta_corrente"
              disabled
              readonly
            />
          </div>

          <div class="col-3">
            <label class="form-label">Código</label>
            <input
              class="form-control form-control-sm"
              type="text"
              [(ngModel)]="dadosBancarios.codigo"
              disabled
              readonly
            />
          </div>

          <div class="col-3">
            <label class="form-label">Agência</label>
            <input
              class="form-control form-control-sm"
              type="text"
              [(ngModel)]="dadosBancarios.agencia"
              disabled
              readonly
            />
          </div>
        </div>

        <div class="pagebreak" [hidden]="esconderLogo"></div>

        <div align="center" [hidden]="esconderLogo">
          <br />
          <img src="http://localhost:8080/api/get/image" width="150" />
        </div>

        <span [hidden]="esconderEstado">
          <br />

          <div class="row">
            <div class="col-6"><h2>Dados Estado Civil</h2></div>
          </div>

          <div class="row">
            <div class="col-3">
              <label class="form-label">Estado Civil</label>
              <input
                class="form-control form-control-sm"
                type="text"
                [(ngModel)]="dadosEstadoCivil.estado_civil"
                disabled
                readonly
              />
            </div>

            <div class="col-9">
              <label class="form-label">Nome Completo Cônjuge</label>
              <input
                class="form-control form-control-sm"
                type="text"
                [(ngModel)]="dadosEstadoCivil.nome_completo_conjuge"
                disabled
                readonly
              />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-4">
              <label class="form-label">CPF Cônjuge</label>
              <input
                class="form-control form-control-sm"
                type="text"
                [(ngModel)]="dadosEstadoCivil.cpf_conjuge"
                disabled
                readonly
              />
            </div>

            <div class="col-4">
              <label class="form-label">Data de Nascimento Cônjuge</label>
              <input
                class="form-control form-control-sm"
                type="text"
                [(ngModel)]="dadosEstadoCivil.data_nascimento_conjuge"
                disabled
                readonly
              />
            </div>

            <div class="col-4">
              <label class="form-label">Identidade Cônjuge - UF</label>
              <input
                class="form-control form-control-sm"
                type="text"
                value="{{ dadosEstadoCivil.identidade_conjuge }} - {{
                  dadosEstadoCivil.uf_identidade_conjuge
                }}"
                disabled
                readonly
              />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-12">
              <label class="form-label">Profissão / Atividade</label>
              <input
                class="form-control form-control-sm"
                type="text"
                value="{{ dadosEstadoCivil.profissao_atividade }}"
                disabled
                readonly
              />
            </div>
          </div>
        </span>
        <br [hidden]="esconderDepen" />
        <div class="row" [hidden]="esconderDepen">
          <div class="col">
            <h2>Dependentes</h2>
          </div>
          <div class="col-12">
            <table class="minimalistBlack">
              <thead>
                <tr>
                  <th>Nome Completo</th>
                  <th>CPF</th>
                  <th>Data de Nascimento</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let i of dadosPessoais.dependentes">
                  <td>{{ i.nome_completo_dependente }}</td>
                  <td>{{ i.cpf_dependente }}</td>
                  <td>{{ i.data_nascimento_dependente }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div></div>
      </div>
    </div>
  </div>
</div>
