<mat-toolbar color="primary">
  
  <button mat-raised-button color="accent"  [routerLink]="['']">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <span>SISCOGEP Update</span>
</mat-toolbar>
<mat-drawer-container class="example-container">
 
  <mat-drawer-content>
    <mat-tab-group>
      <mat-tab label="Visão Geral">
        <app-config-perfil></app-config-perfil>
      </mat-tab>
      <mat-tab label="Edição de Perfil">
        <app-ficha-update></app-ficha-update>
      </mat-tab>
      <mat-tab label="Arquivos"> <app-arquivos></app-arquivos></mat-tab>
    </mat-tab-group> 
    </mat-drawer-content>
  </mat-drawer-container>
