<mat-form-field appearance="outline">
  <mat-label>Novo Tipo de Documento</mat-label>
  <input matInput>
</mat-form-field> <button mat-raised-button color="primary">Adicionar</button>
      <table class="styled-table"  >
        <thead>
          <tr>
            <th class="th-table">Tipos</th>
            <th colspan="2">Serviços</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of Documentos">
            <td *ngIf="i.id != 1">
           {{i.tipo}}
            
            </td>
           <td *ngIf="i.id != 1" class="td-table"> <button mat-raised-button color="files" ><mat-icon>edit</mat-icon></button></td>
           <td *ngIf="i.id != 1" class="td-table"> <button mat-raised-button color="warn" ><mat-icon>cancel</mat-icon></button></td>
          </tr>
        </tbody>
      </table>