<!-- <div mat-dialog-content>
  <mat-card-title>{{data.nome}}</mat-card-title>
  <button
    mat-raised-button
    color="warn"
    (click)="Deletar()"
    [disabled]="botaoDeletarDisabled"
    style="margin-left: 15px"
   
  >
    <span  matTooltip="Para deletar, todos os colaboradores listados devem estar desvinculados!">Deletar Vínculo</span>
  </button>

  <br /><br />
  <button
    mat-raised-button
    color="primary"
    class="col-12"
    (click)="statusNull()"
  >
    Retribuir aos colaboradores listados sem definição
  </button>
  <table class="styled-table">
    <thead>
      <tr>
        <td>nome</td>
        <td>Serviços</td>
      </tr>
    </thead>
    <tbody style="max-height: 250px">
      <tr *ngFor="let i of teste">
        <td>{{i.nome}}</td>
        <td>
          <mat-form-field appearance="outline">
            <mat-label>Vínculos</mat-label>
            <mat-select
              (selectionChange)="salvarStatus(i.idpessoa, i.id_vinculo)"
              [(ngModel)]="i.id_vinculo"
            >
              <mat-option
                *ngFor="let vinculo of vinculos2 let i = index"
                [value]="vinculo.id"
              >
                {{vinculo.vinculo}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row" [hidden]="esconder">
    <div class="col-5"></div>
    <div class="col-3"><mat-spinner></mat-spinner></div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
</div>
 -->

<div mat-dialog-content style="height: 110%">
  <mat-card-title>{{data.nome}}</mat-card-title>
  <button
    mat-raised-button
    color="warn"
    (click)="Deletar()"
    [disabled]="botaoDeletarDisabled"
    style="margin-left: 15px"
  >
    <span
      matTooltip="Para deletar, todos os colaboradores listados devem estar desvinculados!"
      >Deletar Setor</span
    >
  </button>
  <br /><br />
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Definir ao todos colaboradores listados para um vínculo específico
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field appearance="outline">
        <mat-label>Vínculos</mat-label>
        <mat-select [(ngModel)]="vinculo" [disabled]="disabledBotaoEBox">
          <mat-option *ngFor="let vinculo of vinculos2" [value]="vinculo.id">
            {{vinculo.vinculo}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        style="margin-left: 15px"
        (click)="definirSetor()"
        matTooltip="Está ação não poderá ser desfeita!"
        [disabled]="disabledBotaoEBox"
      >
        Definir Setor
      </button>
      <div class="row" [hidden]="esconder">
        <div class="col-5"></div>
        <div class="col-3"><mat-spinner></mat-spinner></div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Definir individualmente cada colaborador para um vínculo específico
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table class="styled-table">
        <thead>
          <tr>
            <td>nome</td>
            <td>Serviços</td>
          </tr>
        </thead>
        <tbody style="max-height: 250px">
          <tr *ngFor="let i of teste">
            <td>{{i.nome}}</td>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Setores</mat-label>
                <mat-select
                  (selectionChange)="salvarStatus(i.idpessoa, i.id_vinculo)"
                  [(ngModel)]="i.id_vinculo"
                >
                  <mat-option
                    *ngFor="let vinculo of vinculos2"
                    [value]="vinculo.id"
                  >
                    {{vinculo.vinculo}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row" [hidden]="esconder">
        <div class="col-5"></div>
        <div class="col-3"><mat-spinner></mat-spinner></div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Definir ao todos colaboradores listados para "Não Definido"
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button
        mat-raised-button
        color="primary"
        class="col-12"
        (click)="statusNull()"
      >
        <span matTooltip="Está ação não poderá ser desfeita">
          Definir ao todos colaboradores listados para "Não Definido"</span
        >
      </button>
    </mat-expansion-panel>
  </mat-accordion>

  <div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onNoClick()">
      Cancelar
    </button>
  </div>
</div>
