<mat-form-field appearance="outline">
  <mat-label>Novo Vínculo</mat-label>
  <input matInput />
</mat-form-field>
<button mat-raised-button color="primary" style="margin-left: 15px;" >Adicionar</button>

<table  class="box-shadow">
  <thead>
    <tr>
      <th style="width: 5%;">QTD</th>
      <th style="width: 70%;">Tipos</th>
      <th colspan="2" style="text-align: center;">Serviços</th>
    </tr>
  </thead>

  <tbody>
    <div class="row" [hidden]="esconder">
      <div class="col-5"></div>
      <div class="col-3"><mat-spinner></mat-spinner></div>
    </div>
  
    <tr *ngFor="let i of array2">
      <td style="width: 5%;">{{ i.count }}</td>
      <td style="width: 70%;">{{ i.vinculo }}</td>

      <td style="text-align: center;">
        <button
          mat-raised-button
          color="files"
          (click)="openDialog(i.id, i.vinculo)"
          style="margin-right: 10px;"
        >
          <mat-icon>edit</mat-icon>
        </button>
  
        <button
          mat-raised-button
          color="warn"
          (click)="openDialog2(i.id, i.vinculo)"
          
        >
          <mat-icon>cancel</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
