<!-- <div class="container "> -->

  <div class="row" (mouseenter) ="mouseEnter('div a') "  (mouseleave) ="mouseLeave('div A')">
    <div class="col-6">
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>Setor</mat-label>
        <mat-select [(ngModel)]="setor" [ngModelOptions]="{ standalone: true }" >
          <mat-option value="Todos"> Todos </mat-option>
          <mat-option value="Não Definido"> Não Definido </mat-option>
          <mat-option *ngFor="let setores of setores" [value]="setores.setor">
            {{ setores.setor }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>Vínculo</mat-label>
        <mat-select
          [(ngModel)]="vinculo"
          [ngModelOptions]="{ standalone: true }"
        >
          <mat-option value="Todos"> Todos </mat-option>
          <mat-option value="Não Definido"> Não Definido </mat-option>
          <mat-option
            *ngFor="let vinculos of vinculos"
            [value]="vinculos.vinculo"
          >
            {{ vinculos.vinculo }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>Sítuação</mat-label>
        <mat-select
          [(ngModel)]="status"
          [ngModelOptions]="{ standalone: true }"
        >
          <mat-option value="Todos"> Todos </mat-option>
          <mat-option value="true">Ativos </mat-option>
          <mat-option value="false">Desativo</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-2">
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>Acesso à Rede Corporativa</mat-label>
        <mat-select
          [(ngModel)]="acessoRede"
          [ngModelOptions]="{ standalone: true }"
        >
          <mat-option value="Todos"> Todos </mat-option>
          <mat-option value="true">Ativos </mat-option>
          <mat-option value="false">Desativos</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-3">
      <button
        mat-raised-button
        color="primary"
        style="margin-top: 15px"
        id="printPageButton" 
        
        onClick="window.print();"
        
      >
        Imprimir
      </button>
    </div>
    
  </div>
<br>
<mat-card-title>Total de Colaboradores: {{print}}</mat-card-title>
<br>
<div class="row" id="component1">
  <div class="col-12">
    <table class="table table-hover" matSort (matSortChange)="sortData($event)">
      <thead>
        <tr>
          <th mat-sort-header="nome">Colaboradores</th>
          <th mat-sort-header="setor">Setor</th>
          <th mat-sort-header="vinculo">Vínculo</th>
          <th>Status</th>
          <th>Acesso à Rede</th>
        </tr>
      </thead>
      <tbody *ngFor="let i of array; count as c">
      
          <tr #myVar 
            *ngIf="
              setor == 'Todos' &&
              vinculo == 'Todos' &&
              status == 'Todos' &&
              acessoRede == 'Todos'
            "
          >
            <td>{{ i.nome }}</td>
            <td>{{ i.setor }}</td>
            <td>{{ i.vinculo }}</td>
            <td>
              <mat-icon *ngIf="i.status == 'true'" style="color: green"
                >check_circle</mat-icon
              >
              <mat-icon *ngIf="i.status == 'false'" style="color: red"
                >cancel</mat-icon
              >
            </td>
            <td>
              <mat-icon *ngIf="i.acessoRede == 'true'" style="color: green"
                >check_circle</mat-icon
              >
              <mat-icon *ngIf="i.acessoRede == 'false'" style="color: red"
                >cancel</mat-icon
              >
            </td>
          </tr>
        <tr #myVar *ngIf="i.setor == setor && i.vinculo == vinculo && i.status == status && i.acessoRede == acessoRede" >
          <td>{{ i.nome }}</td>
          <td>{{ i.setor }}</td>
          <td>{{ i.vinculo }}</td>
          <td>
            <mat-icon *ngIf="i.status == 'true'" style="color: green"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="i.status == 'false'" style="color: red"
              >cancel</mat-icon
            >
          </td>
          <td>
            <mat-icon *ngIf="i.acessoRede == 'true'" style="color: green"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="i.acessoRede == 'false'" style="color: red"
              >cancel</mat-icon
            >
          </td>
        </tr>

        <tr #myVar *ngIf="setor == 'Todos' && i.vinculo == vinculo && i.status == status && i.acessoRede == acessoRede" >
          <td>{{ i.nome }}</td>
          <td>{{ i.setor }}</td>
          <td>{{ i.vinculo }}</td>
          <td>
            <mat-icon *ngIf="i.status == 'true'" style="color: green"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="i.status == 'false'" style="color: red"
              >cancel</mat-icon
            >
          </td>
          <td>
            <mat-icon *ngIf="i.acessoRede == 'true'" style="color: green"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="i.acessoRede == 'false'" style="color: red"
              >cancel</mat-icon
            >
          </td>
          
        </tr>
        <tr #myVar *ngIf="i.setor == setor && vinculo == 'Todos' && i.status == status && i.acessoRede == acessoRede" >
          <td>{{ i.nome }}</td>
          <td>{{ i.setor }}</td>
          <td>{{ i.vinculo }}</td>
          <td>
            <mat-icon *ngIf="i.status == 'true'" style="color: green"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="i.status == 'false'" style="color: red"
              >cancel</mat-icon
            >
          </td>
          <td>
            <mat-icon *ngIf="i.acessoRede == 'true'" style="color: green"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="i.acessoRede == 'false'" style="color: red"
              >cancel</mat-icon
            >
          </td>
        </tr>
        <tr #myVar *ngIf="i.setor == setor && vinculo == 'Todos' && status == 'Todos' && acessoRede == 'Todos'" >
          <td>{{ i.nome }}</td>
          <td>{{ i.setor }}</td>
          <td>{{ i.vinculo }}</td>
          <td>
            <mat-icon *ngIf="i.status == 'true'" style="color: green"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="i.status == 'false'" style="color: red"
              >cancel</mat-icon
            >
          </td>
          <td>
            <mat-icon *ngIf="i.acessoRede == 'true'" style="color: green"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="i.acessoRede == 'false'" style="color: red"
              >cancel</mat-icon
            >
          </td>
        </tr>
        <tr #myVar *ngIf="setor == 'Todos' && i.vinculo == vinculo && status == 'Todos' && acessoRede == 'Todos'" >
          <td>{{ i.nome }}</td>
          <td>{{ i.setor }}</td>
          <td>{{ i.vinculo }}</td>
          <td>
            <mat-icon *ngIf="i.status == 'true'" style="color: green"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="i.status == 'false'" style="color: red"
              >cancel</mat-icon
            >
          </td>
          <td>
            <mat-icon *ngIf="i.acessoRede == 'true'" style="color: green"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="i.acessoRede == 'false'" style="color: red"
              >cancel</mat-icon
            >
          </td>
        </tr>
        <tr #myVar *ngIf="setor == 'Todos' && vinculo == 'Todos' && status == 'Todos' && i.acessoRede == acessoRede" >
          <td>{{ i.nome }}</td>
          <td>{{ i.setor }}</td>
          <td>{{ i.vinculo }}</td>
          <td>
            <mat-icon *ngIf="i.status == 'true'" style="color: green"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="i.status == 'false'" style="color: red"
              >cancel</mat-icon
            >
          </td>
          <td>
            <mat-icon *ngIf="i.acessoRede == 'true'" style="color: green"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="i.acessoRede == 'false'" style="color: red"
              >cancel</mat-icon
            >
          </td>
        </tr>
        <tr #myVar *ngIf="setor == 'Todos' && vinculo == 'Todos' && i.status == status  && acessoRede == 'Todos'" >
          <td>{{ i.nome }}</td>
          <td>{{ i.setor }}</td>
          <td>{{ i.vinculo }}</td>
          <td>
            <mat-icon *ngIf="i.status == 'true'" style="color: green"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="i.status == 'false'" style="color: red"
              >cancel</mat-icon
            >
          </td>
          <td>
            <mat-icon *ngIf="i.acessoRede == 'true'" style="color: green"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="i.acessoRede == 'false'" style="color: red"
              >cancel</mat-icon
            >
          </td>
        </tr>

        <tr #myVar *ngIf="setor == 'Todos' && vinculo == 'Todos' && i.status == status  && i.acessoRede == acessoRede" >
          <td>{{ i.nome }}</td>
          <td>{{ i.setor }}</td>
          <td>{{ i.vinculo }}</td>
          <td>
            <mat-icon *ngIf="i.status == 'true'" style="color: green"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="i.status == 'false'" style="color: red"
              >cancel</mat-icon
            >
          </td>
          <td>
            <mat-icon *ngIf="i.acessoRede == 'true'" style="color: green"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="i.acessoRede == 'false'" style="color: red"
              >cancel</mat-icon
            >
          </td>
        </tr>
        <tr #myVar *ngIf="i.setor == setor && i.vinculo == vinculo && status == 'Todos'  && acessoRede == 'Todos'" >
          <td>{{ i.nome }}</td>
          <td>{{ i.setor }}</td>
          <td>{{ i.vinculo }}</td>
          <td>
            <mat-icon *ngIf="i.status == 'true'" style="color: green"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="i.status == 'false'" style="color: red"
              >cancel</mat-icon
            >
          </td>
          <td>
            <mat-icon *ngIf="i.acessoRede == 'true'" style="color: green"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="i.acessoRede == 'false'" style="color: red"
              >cancel</mat-icon
            >
          </td>
        </tr>
        <tr #myVar *ngIf="i.setor == setor && vinculo == 'Todos' && status == 'Todos'  && i.acessoRede == acessoRede" >
          <td>{{ i.nome }}</td>
          <td>{{ i.setor }}</td>
          <td>{{ i.vinculo }}</td>
          <td>
            <mat-icon *ngIf="i.status == 'true'" style="color: green"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="i.status == 'false'" style="color: red"
              >cancel</mat-icon
            >
          </td>
          <td>
            <mat-icon *ngIf="i.acessoRede == 'true'" style="color: green"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="i.acessoRede == 'false'" style="color: red"
              >cancel</mat-icon
            >
          </td>
        </tr>
        <tr #myVar *ngIf="i.setor == setor && vinculo == 'Todos' && i.status == status  && acessoRede == 'Todos'" >
          <td>{{ i.nome }}</td>
          <td>{{ i.setor }}</td>
          <td>{{ i.vinculo }}</td>
          <td>
            <mat-icon *ngIf="i.status == 'true'" style="color: green"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="i.status == 'false'" style="color: red"
              >cancel</mat-icon
            >
          </td>
          <td>
            <mat-icon *ngIf="i.acessoRede == 'true'" style="color: green"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="i.acessoRede == 'false'" style="color: red"
              >cancel</mat-icon
            >
          </td>
        </tr>
        <tr #myVar *ngIf="setor == 'Todos' && i.vinculo == vinculo && i.status == status  && acessoRede == 'Todos'" >
          <td>{{ i.nome }}</td>
          <td>{{ i.setor }}</td>
          <td>{{ i.vinculo }}</td>
          <td>
            <mat-icon *ngIf="i.status == 'true'" style="color: green"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="i.status == 'false'" style="color: red"
              >cancel</mat-icon
            >
          </td>
          <td>
            <mat-icon *ngIf="i.acessoRede == 'true'" style="color: green"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="i.acessoRede == 'false'" style="color: red"
              >cancel</mat-icon
            >
          </td>
        </tr>
        <tr #myVar *ngIf="setor == 'Todos' && i.vinculo == vinculo && status == 'Todos'  && i.acessoRede == acessoRede" >
          <td>{{ i.nome }}</td>
          <td>{{ i.setor }}</td>
          <td>{{ i.vinculo }}</td>
          <td>
            <mat-icon *ngIf="i.status == 'true'" style="color: green"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="i.status == 'false'" style="color: red"
              >cancel</mat-icon
            >
          </td>
          <td>
            <mat-icon *ngIf="i.acessoRede == 'true'" style="color: green"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="i.acessoRede == 'false'" style="color: red"
              >cancel</mat-icon
            >
          </td>
        </tr>
        <tr #myVar *ngIf="i.setor == setor && i.vinculo == vinculo && status == 'Todos'  && i.acessoRede == acessoRede" >
          <td>{{ i.nome }}</td>
          <td>{{ i.setor }}</td>
          <td>{{ i.vinculo }}</td>
          <td>
            <mat-icon *ngIf="i.status == 'true'" style="color: green"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="i.status == 'false'" style="color: red"
              >cancel</mat-icon
            >
          </td>
          <td>
            <mat-icon *ngIf="i.acessoRede == 'true'" style="color: green"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="i.acessoRede == 'false'" style="color: red"
              >cancel</mat-icon
            >
          </td>
        </tr>
        <tr #myVar *ngIf="i.setor == setor && i.vinculo == vinculo && i.status == status  && acessoRede == 'Todos'" >
          <td>{{ i.nome }}</td>
          <td>{{ i.setor }}</td>
          <td>{{ i.vinculo }}</td>
          <td>
            <mat-icon *ngIf="i.status == 'true'" style="color: green"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="i.status == 'false'" style="color: red"
              >cancel</mat-icon
            >
          </td>
          <td>
            <mat-icon *ngIf="i.acessoRede == 'true'" style="color: green"
              >check_circle</mat-icon
            >
            <mat-icon *ngIf="i.acessoRede == 'false'" style="color: red"
              >cancel</mat-icon
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- </div> -->
