<mat-card class="col-12 box-shadow">
  <div class="row">
    
    <div class="col-2">
<img [src]="UrlLogo" alt="">
   
    </div> 
   
   

  <div class="col-4">
    <mat-form-field appearance="outline" class="col-12">
      <mat-label>Instituição</mat-label>
      <input matInput [(ngModel)]="configuracao.nome_instituicao" />
    </mat-form-field>
  </div>

    <div class="col-4">
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>E-Mail da Informática</mat-label>
        <input matInput [(ngModel)]="configuracao.email_informatica" />
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>E-Mail do Recursos Humanos</mat-label>
        <input matInput [(ngModel)]="configuracao.email_rh" />
      </mat-form-field>
    </div>
  </div>
  <div class="row"></div>
  <br />

  <div class="row">
    <div class="col-10"></div>
    <div class="col-2">
      <button
        mat-raised-button
        color="primary"
        class="col-12"
        (click)="salvarConfiguracao()"
      >
        Salvar
      </button>
    </div>
    <br />
  </div>

</mat-card>
