<div mat-dialog-content>
  <h1>Perfil de Acesso:</h1>
  <mat-form-field appearance="outline">
    <mat-label>Usuário</mat-label>
    <input
      matInput
      [(ngModel)]="data.nome"
      (ngModelChange)="comparando()"
    /> </mat-form-field
  ><br />
  <mat-form-field appearance="outline">
    <mat-label>Senha</mat-label>
    <input
      matInput
      type="password"
      [(ngModel)]="senha"
      (ngModelChange)="comparando()"
    />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
  <button
    mat-raised-button
    color="primary"
    (click)=" salvarUsuario()"
    [disabled]="botaoOff"
  >
    Salvar
  </button>
</div>
