<mat-toolbar color="primary">
  <button mat-raised-button color="accent" [routerLink]="['']">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <span class="example-spacer"></span>
  <span>SISCOGEP</span>
</mat-toolbar>
<mat-tab-group>
  <mat-tab label="Documentos">
    <div class="container">
      <br />
      <div class="row">
        <div class="col-12" style="height: 700px;">
          <app-arquivos-config></app-arquivos-config>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Setores">
    <div class="container">
      <br />
      <div class="row">
        <div class="col-12" style="height: 700px;"><app-setores></app-setores></div>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Vínculos">
    <div class="container">
      <br />
      <div class="row">
        <div class="col-12" style="height: 700px;"><app-vinculos></app-vinculos></div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
