<mat-tab-group>
  <mat-tab label="Vínculos"> 
    <div class="container">
      <br />
      <div class="row">
        <div class="col-12" ><app-vinculos></app-vinculos></div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Configurações de Documentos">
    <div class="container">
      <br />
      <div class="row">
        <div class="col-12">
          <app-arquivos-config></app-arquivos-config>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Setores">
    <div class="container">
      <br />
      <div class="row">
        <div class="col-12" ><app-setores></app-setores></div>
      </div>
    </div>

  </mat-tab>
 
</mat-tab-group>
