table {
    width: 100%;
  }
  
  
  tbody {
    display: block; 
    max-height: 500px;
    overflow-y: scroll;
  }
  
  th, td {
    width: 22.5%;
    padding: 10px;
    /* text-align: center; */
  
  }
  
  tr {
    display: table; 
    width: 100%;
    box-sizing: border-box; 
  }