<mat-toolbar color="primary">
  <button mat-raised-button color="accent"  [routerLink]="['config']">
    <mat-icon>settings</mat-icon>
  </button>

  <span class="example-spacer"></span>
  <span>SISCOGEP Add</span>
</mat-toolbar>


<input type="text" [(ngModel)]="searchValue" > 

<table class="styled-table" matSort (matSortChange)="sortData($event)">
  <thead>
    <tr >
      <th mat-sort-header="nome" >Colaboradores</th>
      <th mat-sort-header="setor" >Setor</th>
      <th mat-sort-header="situacao">Situação</th>
      <th mat-sort-header="acessoRede">Acesso à Rede Corporativa</th>
      <th>Serviços</th>
    </tr>
  </thead> 
  <tbody>
    <tr *ngFor="let TabelaInicial of TabelaInicial | searchfilter :  searchValue" >
      <td >
        {{ TabelaInicial.nome }}<br>
      </td>
      <td  >  {{ TabelaInicial.setor }}</td>
      <td  >
        <mat-icon *ngIf="TabelaInicial.status == true" style="color: green">check_circle</mat-icon>
        <mat-icon *ngIf="TabelaInicial.status == false" style="color: red">cancel</mat-icon >
      </td>
      <td  >
        <mat-icon *ngIf="TabelaInicial.acessoRede == true" style="color: green">check_circle</mat-icon>
        <mat-icon *ngIf="TabelaInicial.acessoRede == false" style="color: red">cancel</mat-icon>
      </td>
     <td> <button mat-raised-button color="files" [routerLink]="['painel', TabelaInicial.id]"><mat-icon>edit</mat-icon></button></td>
    </tr>
  </tbody>
</table> 
<!-- <app-aniversarios></app-aniversarios> -->