<mat-form-field appearance="outline">
  <mat-label>Novo Setor</mat-label>
  <input matInput  [(ngModel)]="nomeDocumento"/>
</mat-form-field>
<button mat-raised-button color="primary" style="margin-left: 15px;" (click)="adicionarTipo()" >Adicionar</button>

      <table  class="box-shadow">
        <thead>
          <tr>
            <th style="width: 5%">QTD</th>
            <th  style="width:70%">Tipos</th>
            <th colspan="2" style="text-align: center;">Serviços</th>
          </tr>
        </thead>
      
        <tbody>
          <div class="row" [hidden]="esconder">
            <div class="col-5"></div>
            <div class="col-3"><mat-spinner></mat-spinner></div>
          </div>
          <tr *ngFor="let i of DadosAtualizados">
            <td style="width: 5%">{{ i.count }}</td>
            <td style="width:70%">{{ i.setor }}</td>
      
            <td style="text-align: center;" >
              <button
                mat-raised-button
                color="files"
                (click)="openDialog(i.id, i.setor)"
                style="margin-right: 10px;"
              >
                <mat-icon>edit</mat-icon>
              </button>
          
              <button
                mat-raised-button
                color="warn"
                (click)="openDialog2(i.id, i.setor, i.count)"
              >
                <mat-icon>cancel</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>


  