/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "node_modules/@costlydeveloper/ngx-awesome-popup/styles/theme";



.example-spacer {
  flex: 1 1 auto;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #3F51B5;
    color: #ffffff;
    /* text-align: left; */
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
tr:hover {background-color: #f3f3f3; color:#3F51B5}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

/* .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
} */

.styled-table tbody tr:last-of-type {
    border-bottom: 1px solid #3F51B5;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #3F51B5;
}

.box-shadow{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.form-height{
    height:880px;
}

.stepper-height{
    height: 1100px;
}

.input-upper{
    text-transform: uppercase;
}




.mat-button.mat-files,
.mat-stroked-button.mat-files {
    color: #0074CC;
}
.mat-button.mat-files:hover,
.mat-stroked-button.mat-files:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-files,
.mat-flat-button.mat-files,
.mat-fab.mat-files,
.mat-mini-fab.mat-files {
  color: #f0fff3;
  background-color: #0074CC;
}

.mat-icon-button.mat-files {
  color:#0074CC;
}

.box-shadow{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.mat-button.mat-edit,
.mat-stroked-button.mat-edit {
    color: #0ca6ac;
}
.mat-button.mat-edit:hover,
.mat-stroked-button.mat-edit:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-edit,
.mat-flat-button.mat-edit,
.mat-fab.mat-edit,
.mat-mini-fab.mat-edit {
  color: #f0fff3;
  background-color: #0EB6BB;
}

.mat-icon-button.mat-edit {
  color:#0EB6BB;
}



.mat-button.mat-success,
.mat-stroked-button.mat-success {
    color: #0dbb6a;
}
.mat-button.mat-success:hover,
.mat-stroked-button.mat-success:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  color: #f0fff3;
  background-color: #0dbb6a;
}

.mat-icon-button.mat-success {
  color:#0dbb6a;
}
