<div class="container">
  <br />
  <div class="row">
    <div class="col-3">
      <mat-card>
        <img
          mat-card-image
          src="https://media.istockphoto.com/vectors/user-icon-flat-isolated-on-white-background-user-symbol-vector-vector-id1300845620?k=20&m=1300845620&s=612x612&w=0&h=f4XTZDAv7NPuZbG0habSpU0sNgECM0X7nbKzTUta3n8="
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <mat-form-field
            appearance="outline"
            style="width: 100%; font-size: 12px"
          >
            <mat-label>
              <mat-icon *ngIf="status == true" style="color: green"
                >check_circle</mat-icon
              >
              <mat-icon *ngIf="status == false" style="color: red"
                >cancel</mat-icon
              >
              Status</mat-label
            >
            <mat-select
              matNativeControl
              [(ngModel)]="status"
              (selectionChange)="salvarStatus()"
            >
              <mat-option [value]="true"> Ativo </mat-option>
              <mat-option [value]="false"> Desativo </mat-option>
            </mat-select>
          </mat-form-field>
        
          <mat-form-field
            appearance="outline"
            style="width: 100%; font-size: 12px" 
            
          >
            <mat-label>
              <mat-icon *ngIf="acessoRede == true" style="color: green"
                >check_circle</mat-icon
              >
              <mat-icon *ngIf="acessoRede == false" style="color: red"
                >cancel</mat-icon
              >
              Acesso à Rede Corporativa</mat-label
            >
            <mat-select
              matNativeControl
              [(ngModel)]="acessoRede"
              (selectionChange)="salvarStatus()"
              [disabled]="idUser == 2"
            >
              <mat-option [value]="true"> Ativo </mat-option>
              <mat-option [value]="false"> Desativo </mat-option>
            </mat-select>
          </mat-form-field>
          
        </mat-card-content>
        
      </mat-card>
    </div>
    <div class="col-8">
      <mat-card>
        <mat-card-title>{{ dadosPessoais.nome_completo }}</mat-card-title
        ><br />
        <mat-card-subtitle>Vínculo: {{ vinculo }}</mat-card-subtitle>
        <mat-card-subtitle>Setor: {{ setor }}</mat-card-subtitle>
        <mat-card-subtitle
          >Cargo: {{ dadosProfissionais.cargo }}</mat-card-subtitle
        >
        <mat-card-subtitle
          >Função: {{ dadosProfissionais.funcao }}
        </mat-card-subtitle>

        <mat-card-subtitle
          >Data de Admissão: {{ dadosProfissionais.data_admissao }}
        </mat-card-subtitle>
        <mat-card-subtitle
          >Data de Exoneração: {{ dadosProfissionais.data_exoneracao }}
        </mat-card-subtitle>
        <mat-card-subtitle
          >E-Mail Institucional: {{ dadosProfissionais.email_institucional }} 

            <a
              href="https://suporte.codata.pb.gov.br/suporte/default/suporte"
              target="_blank"
            >
              <button
              *ngIf="
              verificacaoEmail == true 
            "
              mat-raised-button color="accent" style="font-size: 12px; height:35px;" [cdkCopyToClipboard]="mensagemCodataResetSenha">
              Resetar Senha
              </button>
            </a>
         
            <a
              href="https://suporte.codata.pb.gov.br/suporte/default/suporte"
              target="_blank"
            >
              <button
              *ngIf="
              verificacaoEmail == false
            "
              mat-raised-button color="accent" style="font-size: 12px; height:35px;" [cdkCopyToClipboard]="mensagemCodata">
                Fazer solicitação de um E-Mail Institucional na Codata
              </button>
            </a>
        </mat-card-subtitle>

        <button mat-raised-button color="edit" class="col-12"  [routerLink]="['',idUser,'pdf-perfil', IDColab]" >
          Baixar Perfil em PDF
        </button>
      </mat-card>
      <br>
      <mat-card *ngIf="idUser == 1 || idUser == 2" style="margin-bottom: 10px;">
        <button mat-raised-button color="warn" class="col-12" *ngIf="acessoRede == true"  (click)="enviarEmailRhDesativar()">
          Fazer uma solicitação para desabilitar o acesso à rede
        </button>
        <button mat-raised-button color="success" class="col-12"  *ngIf="acessoRede == false" (click)="enviarEmailRhAtivar()">
          Fazer uma solicitação para habilitar o acesso à rede
        </button>
      </mat-card>
      <mat-card *ngIf="idUser == 1 || idUser == 3">
        <button mat-raised-button color="success" class="col-12" *ngIf="acessoRede == true" (click)="enviarEmailInformaticaAtivo()" >
          Informar que o usuário do(a) colaborador(a) foi habilitado da rede interna
        </button>
        <button mat-raised-button color="warn" class="col-12"  *ngIf="acessoRede == false" (click)="enviarEmailInformaticaDesativo()">
          Informar que o usuário do(a) colaborador(a) foi desabilitado da rede interna
        </button>
      </mat-card>
    </div>
  </div>
  <br />
</div>
